[submodule "EIP7702/lib/forge-std"]
	path = EIP7702/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EIP2771/lib/openzeppelin-contracts"]
	path = EIP2771/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "EIP2771/lib/forge-std"]
	path = EIP2771/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EIP2771-paymaster/contracts/lib/forge-std"]
	path = EIP2771-paymaster/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
